.idea
.DS_Store
.svn
docs
source/Makefile
source/testwsdl.sh
source/classes/thirdparty/Makefile
wsdl-archive.tar
source/classes/thirdparty/setnamespace.sh
source/classes/thirdparty/merger
composer.lock
vendor
tests/skiptests.json
tests/storage/shared.serialize
