.idea
.DS_Store
composer.lock
vendor
composer.phar
source/classes/cookies
tests/skiptests.json
tests/storage/shared.serialize
tests/test.json
tests/selenium.jar
tests/startwebdriver
tests/chromedriver
.php_cs.cache
.phpunit.result.cache
.env
