# PHP 7.0 has no docker image, so it's skipped.
# Guides: https://confluence.atlassian.com/x/e8YWN for more examples.
#          - apt-add-repository ppa:sergey-dryabzhinsky/php53
#          - apt-add-repository ppa:sergey-dryabzhinsky/packages

pipelines:
  default:
    - parallel:
      - step:
          name: EComPHP 1.3 with PHP 7.4
          image: php:7.4
          caches:
            - composer
          script:
            - apt-get update && apt-get install -y unzip libxml2-dev git
            - docker-php-ext-install soap
            - docker-php-ext-enable soap
            - curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin --filename=composer
            - composer install
            - composer require phpunit/phpunit
            - vendor/bin/phpunit --configuration ./phpunit.xml
      - step:
          name: EComPHP 1.3 with PHP 7.3.1
          image: php:7.3
          caches:
            - composer
          script:
            - apt-get update && apt-get install -y unzip libxml2-dev git
            - docker-php-ext-install soap
            - docker-php-ext-enable soap
            - curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin --filename=composer
            - composer install
            - composer require phpunit/phpunit
            - vendor/bin/phpunit --configuration ./phpunit.xml
      - step:
          name: EComPHP 1.3 with PHP 7.2.14
          image: php:7.2.14
          caches:
            - composer
          script:
            - apt-get update && apt-get install -y unzip libxml2-dev git
            - docker-php-ext-install soap
            - docker-php-ext-enable soap
            - curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin --filename=composer
            - composer install
            - composer require phpunit/phpunit
            - vendor/bin/phpunit --configuration ./phpunit.xml
      - step:
          name: EComPHP 1.3 with PHP 7.1.26
          image: php:7.1
          caches:
            - composer
          script:
            - apt-get update && apt-get install -y unzip libxml2-dev git
            - docker-php-ext-install soap
            - docker-php-ext-enable soap
            - curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin --filename=composer
            - composer install
            - composer require phpunit/phpunit
            - vendor/bin/phpunit --configuration ./phpunit.xml
      - step:
          name: EComPHP 1.3 with PHP 5.6.40
          image: php:5.6
          caches:
            - composer
          script:
            - apt-get update && apt-get install -y unzip libxml2-dev git
            - docker-php-ext-install soap
            - docker-php-ext-enable soap
            - curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin --filename=composer
            - composer install
            - composer require phpunit/phpunit
            - vendor/bin/phpunit --configuration ./phpunit.xml
