{
  "sweden": {
    "username": "",
    "password": ""
  },
  "norway": {
    "username": "",
    "password": ""
  },
  "alertReceivers": [],
  "alertFrom": [],
  "availableMethods": {
    "invoice_legal": "invoice_legal",
    "invoice_natural": "invoice_natural",
    "card": "card",
    "card_new": "card_new"
  },
  "availableMethodsNorway": {
    "invoice_natural": "invoice_natural",
    "card": "card",
    "card_new": "card_new"
  },
  "callbackUrl": "http://myurl.test.com/",
  "signUrl": "http://myurl.test.com/signlandingpage.php"
}